@charset "UTF-8";

* {
    box-sizing: border-box;
}

form {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100vmin;
    height: 100vmin;
    align-content: center;
    justify-content: center;
    margin-left: auto ;
    margin-right: auto;
}

div.campoemail {
    box-sizing: 10%;
}

fieldset {
    border: 0px;
}

body {
    background-image: url(background_01_site_login.png);
    background-position: center center;
    background-size:contain;
    background-repeat: no-repeat;
}


